*{
	margin: 0;
	padding: 0;
}
html,body { height: 100%;}
.wrap{
	min-height: 100%;
}
header { 
	height: 60px; 
	background: #1381cc; 
	color: #FFF;
}
section {
	background: #fff; 
}
footer { 
	height:25px; 
	bottom: 0px; 
	background: #0c4367; 
	color: #FFF;
	text-align:center;
	width:100%;
	position:fixed;
}